body {
    background-image:url(/content/images/random_grey_variations.png);
    background-repeat:repeat;
    width: 950px;
    margin: 0 auto;
}

header {
    display: inline-block;
    color: rgba(255,255,255,1);
    line-height: 1.5;
    font-size: 1.75em;
    text-align: left;
    text-shadow: 0 1px 0 #fff;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);   
}

ul.nav {
    position: fixed;
    top: 0px;
    right: 260px;
    padding: .05em .25em;
    margin: 0px;

    list-style-type: none;

    font-size: 1.25em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 2.00em;

    background-color: #ae7ce2;
}
    ul.nav li {
        display: inline-block;
        padding: .20em .50em;
        padding-left: inherit;

        border-right: 1px solid #fff;
    }
    ul.nav li:last-child {
        border-right: none;
    }
        ul.nav li a { text-decoration: none; color: rgba(255,255,255,1); }
        ul.nav li a:hover { color: rgba(255,255,255,.75); }

article.page {
    height: 800px;
    font-size: 1.25em;
    color: rgba(255,255,255,1);
}
article.page > p a { text-decoration:none; color: #ae7ce2; }
article.page > p a:hover { opacity: .75; }

    article.page > h2 { color: #ae7ce2; margin:0; }
    article.page > ul { 
        margin:0; 
        list-style-type: none;
    }
        article.page > ul > li { padding: .50em 0; }
        article.page > ul > li > a {  text-decoration: none; color: rgba(255,255,255,1); }
        article.page > ul > li > a:hover { color: rgba(255,255,255,.75); }

.scrollup{
    width:48px;
    height:48px;
    opacity:1.0;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background: url('../images/scrollup.png') no-repeat;
    background-size:contain;
}