body {
    background-image:url(/content/images/green-fibers.png);
    background-repeat:repeat;
    width: 950px;
    margin: 0 auto;
    font-family: 'Jacques Francois', serif;
}

header {
    display: inline-block;
    color: rgba(255,255,255,1);
    line-height: 1.5;

    text-align: left;
    text-shadow: 0 1px 0 #fff;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);   
}
    header h1 {
        padding: 0 0;
        margin: .75em 0 0 0;
        
        font-size: 4.25em;
        letter-spacing: .07em;
        font-weight: 100;
        font-family: Helvetica, Arial, sans-serif;
    }

ul.nav {
    position: fixed;
    top: 0px;
    right: 200px;
    padding: .35em .25em;
    margin: 0px;

    list-style-type: none;

    font-size: 1.25em;
    line-height: 1.35em;

    background-color: #33812f;
}
    ul.nav li {
        display: inline-block;
        padding: 0 .50em;
        padding-left: inherit;

        border-right: 1px solid #fff;
    }
    ul.nav li:last-child { border-right: none; }
        ul.nav li a { text-decoration: none; color: rgba(255,255,255,1); }
        ul.nav li a:hover { color: rgba(255,255,255,.75); }

article.page {
    height: 1000px;
    font-size: 1.05em;
    line-height: 1.55em;
    color: rgba(255,255,255,1);
}
article.page:not(#Bio) { padding: 2.00em 0; }
article.page > p a { text-decoration:none; color: #33812f; }
article.page > p a:hover { opacity: .75; }

    article.page > h2 { color: #fff; margin:0; font-size: 1.55em; text-transform: uppercase; padding-bottom: .75em; }
    article.page > ul { 
        margin:0;
        padding: 0;
        list-style-type: none;
    }
        article.page > ul > li { padding: .50em 0; }
        article.page > ul > li > a {  text-decoration: none; color: rgba(255,255,255,1); }
        article.page > ul > li > a:hover { color: rgba(255,255,255,.75); }

.scrollup{
    width: 48px;
    height: 48px;
    opacity: 1.0;
    position:fixed;
    bottom: 7.00em;
    right: 100px;
    display: none;
    text-indent:-9999px;
    background: url('../images/scrollup.png') no-repeat;
    background-size:contain;
}

#natimage {
    margin-top: 2.00em;
}

footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5.00em;
    padding: 1.00em;
    
    border: 1px solid #000;

    background-color: #191919;
    color: #fff;

    font-size: .75em;
    font-style: italic;
    text-align: center;
}